.container {
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.mainContent {
  display: flex;
  justify-content: space-between; /* 왼쪽과 오른쪽에 배치 */
}

.leftContent {
  flex: 2;
}

.rightContent {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.header {
  margin-bottom: 20px;
}

.header h2 {
  font-size: 24px;
  font-weight: bold;
}

.productImage {
  max-width: 100%;
  height: auto;
}

.productInfo {
  display: flex;
  flex-direction: column;
}

.productDetails {
  border-bottom: 1px solid #e0e0e0;
  padding-bottom: 20px;
}

.productDetails p {
  font-size: 16px;
  margin: 20px 0;
}

.stockInfo {
  margin-top: 20px;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.stockInfo h2 {
  font-size: 25px;
  margin-bottom: 10px;
}

.stockList {
  list-style: none;
  padding: 0;
}

.stockList li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.stockList li span {
  font-size: 16px;
}
